@media(max-width: 1156px){
    .services__items{
        display: block;
    }
    .services__item{
        max-width: 80%;
        min-height: 330px;
        margin: 40px auto;
    }
    .form__inner{
        background-image: none;
    }
    .news__inner{
        display: block;
    }
    .news__slider{
        max-width: 100%;
        margin-bottom: 90px;
    }
    .news__blog{
        max-width: 100%;
        display: block;
        margin-bottom: 30px;
    }
    .news__blog:after{
        content: "";
        clear: both;
        display: block;
    }
    .news__images{
        float: left;
        margin-right: 50px;
    }
    .news{
        padding-bottom: 60px;
    }
    .footer__info{
        max-width: 465px;
        margin-bottom: 25px ;
    }
}


@media(max-width: 1050px){
    .footer__inner{
        display: block;
    }
    .footer__map{
        min-width: 100%;
    }
}


@media(max-width: 900px){
    .slider .slick-btn{
        display: none !important;
    }
    .services__top,
    .news__top{
        display: block;
    }
    .services__title-box,
    .form__title-box,
    .news__title-box{
        width: 197px;
        padding-left: 0;
        text-align: center;
        margin: 0 auto 30px;
    }
    .services__title-box:before,
    .form__title-box:before,
    .news__title-box:before{
        display: none;
    }
    .services__title span,
    .form__title span,
    .news__title span{
        font-size: 40px;
    }
    .services__title h3,
    .form__title h3,
    .news__title h3{
        font-size: 15px;
    }
    .services__title h3{
        margin-right: 75px;
    }
    .services__title h3::after{
        margin-right: -21px;
        margin-top: 1px;
    }
    .form__title h3::after{
        margin-right: 29px;
        margin-top: 1px;
    }
    .news__title h3::after{
        margin-right: 45px;
        margin-top: 1px;
    }
    .services__btn,
    .news__btn{
        text-align: center;
    }
    .form__box-inner{
        display: block;
    }
    .form__box-left{
        max-width: 100%;
        
    }
    .form__box-right{
        max-width: 100%;
        
    }
    .form__box-inner .jq-selectbox__select{
        margin-bottom: 10px;
    }

    .form{
        padding-bottom: 25px;
    }
    .advantages__inner{
        display: block;
    }
    .advantages__item{
        max-width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 767px){
    .terms-box{
      display: block;
      margin-bottom: 100px;
    }
  }

@media(max-width: 700px){
    .header__btn{
        float: none;
    }
    .header__contacts{
        text-align: center;
        margin-right: -10px;
    }
    .header__btn:before{
        display: none; 
    }
    .footer__info .header__btn:before{
        display: block;
    }
    .header__btn-menu{
        display: block;
        margin-bottom: 20px;
    }
     .menu ul.active{
        display: block;
    }
    .header__btn-menu .active{
        display: block;
    }
    .menu ul{
        display: none; 
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 20px;
        z-index: 50;
    }
    .menu li{
        display: block;
        text-align: center;
    }
    .menu a{
        display: block;
        background-color: #ffc222;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        border-radius: 0;
    }
    .menu a:hover{
        border: 1px solid #595959;
    }
    .menu li + li{
        padding-left: 0;
    }
}

@media(max-width: 594px){
    .services__item{
        max-width: 100%;
        min-height: 375px;
    }
    .header__top{
        min-height: 140px;
    }
}

@media(max-width: 540px){
    .news__slider{
        padding: 50px 15px 25px 25px;
    }
    .news__slider:before{
        left: 25px;
    }
    .news__slider-inner .slick-next{
        right: -20px;
    }
    .news__slider-inner .slick-prev{
        right: 35px;
    }
    .news__images{
        float: none;
    }
    .news__slider-inner .slick-btn{
        bottom: -90px;
    }
    .terms-container {
        padding: 0 10px 0 20px;
    }
       
    .terms-container h1 {
        text-align: center;
        font-size: 1.6rem;
    }
    .terms-container h2{
        font-size: 1.4rem;
     }
    .terms-container h4{
        font-size: 1rem;
     }
    .terms-container p {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .home-button{
        margin-bottom: 50px;
    }
}
@media(max-width: 414px){
    .slider__title{
        font-size: 24px;
    }
    .slider__text{
        font-size: 16;
    }
}


@media(max-width: 400px){
    .header__btn:before{
        display: block;
    }
    .advantages__item{
        padding: 0;
    }
    .services__item-link{
       margin-bottom: 20px;
       margin-right: 15px;
    }
}


@media(max-width: 390px){
    .header__email{
        padding-right: 30px;
    }
    .header__top{
        min-height: 190px;
    }
}


@media(min-width: 701px){
    .menu ul{
        display: block !important;
    }
}
